/* Reset style */
body, h2, label, input {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

span {
    display: block;
    margin-bottom: 16px;
    color: red;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="button"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}

/* Responsiveness for small screens */
@media screen and (max-width: 400px) {
    form {
        width: 80%;
    }
}
